body {
  background: #f4faff;
  font-family: Arial;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  background: white;
  padding: 20px;
  width: 350px;
  margin-top: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px #0003;
}

h1 {
  font-size: 22px;
  text-align: center;
  color: #004e7c;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #0077c7;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #005f9e;
}

#msg {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
